.big-button{
    background-color: $purple;
    border: none;
    box-shadow: .6rem .3rem .3rem darken($purple, 30%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.4rem;
}

.big-button:disabled {
    opacity: .5;
}

.button{
    background: $purple;
    border: none;
    box-shadow: .6rem .3rem .3rem darken($purple, 30%);
    font-weight: 500;
    padding: $s-size;
    color: white;
}

.button--link{
    background: none;
    border: none;
    box-shadow: none;
    color: $off-white;
    padding: 0;
}

@media(min-width: $desktop-breakpoint ){
    .big-button{
        margin-bottom: $xl-size;

    }
}